* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorBtn {
  padding: 1.25rem 1.5rem;
  border: 3px solid #fefefe;
  border-radius: 7px;
  color: #fefefe;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;

  text-transform: capitalize;
  cursor: pointer;
  outline: none;
}
.colorBtn:hover {
  background: black;
}
